img{
  height: 400px;
  width: 400px
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5%;
  justify-content: center;
}

.top-bar {
  margin-top: 5%;
  margin-left: 5%;
  border-bottom: 2px solid darkgreen;
  width: 600px
}

.top-bar input {
  border: none;
  padding: 20px;
  width: 460px;
  font-size: larger;
}

h1 {
  text-align: center;
}

button {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: darkgreen
}
